/* COLORS */
$accent: rgb(109, 67, 83)
$text-accent: #333

/* FONTS */
$font: 'Poppins', sans-serif
$base-line-height: 1.5em

/* MEDIA */
$large-screen: 992px
$medium-screen: 768px

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: rgba(0,0,0,0)
